/* #region - Imports */

/* Import Roboto and Source Serif Pro fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&family=Roboto:wght@300;400&display=swap");

/* #endregion */

/*  #region - Basic Styles */

body {
  background-color: #0c0c0c;
  color: #c8c8c8 !important;
  font-family: "Roboto", sans-serif !important;
  line-height: 1.5 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  margin: 0 auto !important;
  padding: 10px !important;
}

.article-section {
  margin-bottom: 70px !important;
}

/* #endregion */

/* #region - Image Styles */

.image-wrapper {
  max-width: 400px !important;
  width: 100% !important;
  margin: 0rem auto 2rem !important;
}

.image-container {
  position: relative !important;
  width: 100% !important;
  min-height: 14rem;
}

.article-image {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  object-fit: contain !important;
}

.image-wrapper.tumbleweed {
  max-width: 525px !important;
}

.image-wrapper.ozempic {
  max-width: 400px !important;
}

/* #endregion */

/* #region - Header Typography */

/* Native class for subhed */
.article-subtitle {
  margin-top: 1.5rem !important;
  max-width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Text for part divider */
.part-title-pharma {
  font-family: serif !important;
  font-size: 1em !important;
  font-weight: 700 !important;
  letter-spacing: 0.32em !important;
  text-transform: uppercase !important;
  color: #9e9e9e !important;
  display: inline-block !important;
  padding: 5px 10px !important;
  border: 1px solid white !important;
  background-color: #0c0c0c !important;
  position: relative !important;
  left: 50% !important;
  margin: 0 !important;
  transform: translateX(-50%) !important;
}

/* Line for part divider */
hr {
  display: block !important;
  margin: 0 0 -1rem !important;
  width: 100% !important;
  height: 1px !important;
  border: 0 !important;
  background-color: #c8c8c8 !important;
}

/* Title of an article in the series */
.article-title-pharma {
  font-family: serif !important;
  text-align: center !important;
  color: #ffffff !important;
  font-size: 1.85em !important;
  line-height: 1.25 !important;
  font-weight: 500 !important;
  margin-bottom: 0.5em !important;
  margin-top: 1.5rem !important;
}

/* Subtitle of an article in the series */
.article-subtitle-pharma {
  font-family: "Roboto", sans-serif !important;
  text-align: center !important;
  color: #b6c2cf !important;
  font-size: 1em !important;
  font-weight: 300 !important;
  line-height: 1.4 !important;
  max-width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 2rem !important;
  margin-bottom: 1.15em !important;
}

/* #endregion */

/* #region - Content Typography */

/* Container for text of article blurb */
.article-content {
  color: #d1d1d1 !important;
  margin: 0 auto !important;
}

/* Text of article blurb */
.article-content p {
  margin-bottom: 1em !important;
  margin-top: 1em !important;
}

/* Coming soon text displayed at the bottom of each article section */
.coming-soon {
  text-align: center !important;
}

/* Container to center button on page */
.button-container {
  margin: 50px;
  display: flex;
  justify-content: center;
}

/* Styles for 'read more' button displayed at the bottom of each article section */
.read-more-button {
  appearance: none;
  background-color: #1f6ed7;
  border: 1px solid transparent;
  border-radius: 30px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: auto;
  width: 50%;
  transition: background-color 0.3s, transform 0.3s !important;
}

.read-more-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.read-more-button:hover {
  background-color: #4e88f5;
  transform: scale(1.04);
}

.read-more-button:focus {
  box-shadow: 0 0 0 3px;
  outline: none;
}

.read-more-button:disabled {
  background-color: #b2ddff;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.read-more-button:active {
  background-color: #005dc3;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* #endregion */

/* #region - Media Queries */

/* Desktop viewports */
@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
  /* Center the 'coming soon' text displayed at the bottom of each article section */
  div.coming-soon {
    text-align: center !important;
  }

  /* Constrain height of featured header image to view gradient */
  .featured-article.featured-article--dark-mode .hero-background {
    height: 35rem !important;
  }
}

/* Mobile viewports */
@media (max-width: 768px) {
  /* Constrain height of featured header image to view gradient */
  .featured-article.featured-article--dark-mode .hero-background {
    height: 40rem !important;
  }

  .container {
    max-width: 95% !important;
  }

  .article-content p {
    text-indent: 0 !important;
  }

  .image-wrapper {
    margin: 4rem auto 1.5rem !important;
  }

  .article-title-pharma {
    font-size: 1.65em !important;
  }

  .article-subtitle-pharma {
    font-size: 0.9em !important;
  }

  .read-more-button {
    width: 80% !important;
  }

  /* Native class for subhed */
  .article-subtitle {
    margin-top: 1.5rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: left !important;
    max-width: 100% !important;
  }

  .article-section {
    margin-bottom: 40px !important;
  }

  .image-container {
    min-height: 10rem !important;
  }
}

/* Smaller mobile viewports */
@media (max-width: 500px) {
  .image-container {
    min-height: 10rem !important;
  }

  /* Constrain height of featured header image to view gradient */
  .featured-article.featured-article--dark-mode .hero-background {
    height: 35rem !important;
  }

  .container {
    max-width: 100% !important;
    padding: 5px !important;
  }

  .image-wrapper {
    margin: 3rem auto 1rem !important;
  }

  .article-title-pharma {
    font-size: 1.6em !important;
  }

  .article-subtitle-pharma {
    font-size: 0.8em !important;
  }

  .read-more-button {
    width: 100% !important;
    font-size: 12px !important;
    padding: 8px 12px !important;
  }

  /* Native class for subhed */
  .article-subtitle {
    margin-top: 1.5rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: left !important;
    max-width: 100% !important;
  }
}
/* #endregion */
