svg {
  margin-top: 0;
  overflow: visible;
}

/* Style for link elements */
.links line {
  stroke: #999; /* color of your links */
  stroke-width: 2px; /* thickness of your links */
}

.nodes circle {
  stroke: #999;
  stroke-width: 2px;
}

.labels text {
  fill: #333;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

.link {
  stroke: #999; /* grey color for the links */
  stroke-width: 2px; /* thickness of the link paths */
  fill: none; /* paths should not be filled */
}

/* styles.css */

.label .name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  text-anchor: middle; /* SVG equivalent of text-align: center */
  fill: #000000; /* SVG equivalent of color */
}

.label .role {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-anchor: middle; /* SVG equivalent of text-align: center */
  fill: #000000; /* SVG equivalent of color */
}

/* Mobile styles */
@media (max-width: 600px) {
  .detail-panel {
    /* Example: Full-screen overlay */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95); /* Slightly transparent white */
    z-index: 100; /* Make sure it's above other content */
    overflow-y: auto; /* If content is long, make it scrollable */
    transition: transform 0.3s ease-in-out; /* Smooth transition for sliding in/out */
    transform: translateY(100%); /* Start off-screen below the view */
  }

  /* Close button styles */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
  }
}

.highlighted {
  opacity: 1;
}

.faded {
  opacity: 0.3;
}
