/* Base SVG styles */
svg {
  margin-top: 0;
  overflow: visible;
}

/* Node styles */
.nodes circle {
  stroke: #999;
  stroke-width: 2px;
}

/* Link styles */
.link,
.highlighted line {
  stroke: #999;
  stroke-width: 2px;
  fill: none;
}

.link.highlighted {
  stroke: #18206f;
  stroke-width: 1px;
  stroke-opacity: 1;
}

/* Text labels and details */
.labels text,
.label .name,
#details-panel .person-name,
#details-panel .person-role,
#details-panel .person-description,
#details-panel .connections-title,
#details-panel .connection-item {
  font-family: "Inter", sans-serif;
  fill: #333;
}

.labels text,
.label .name {
  font-size: 12px;
  line-height: 17px;
  text-anchor: middle;
}

.node-name,
.node-name-bg,
.node-selected,
.connected-node-name {
  font-style: normal;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.node-name {
  font-weight: 500;
  font-size: 11.5px;
  fill: black;
}

.node-name-bg {
  fill: #ffffff; /* Background color for the text */
  stroke: none;
}

.node-selected {
  stroke: red;
  stroke-width: 8px;
  fill: none;
}

/* Details panel styles */
#details-panel {
  max-width: 80vw;
  overflow-y: auto;
  display: block;
  margin-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.details-content {
  font-family: "Inter", sans-serif;
}

.person-name {
  font-weight: 700;
  font-size: 14px;
}

.person-role,
.person-description,
.connections-title,
.connection-item {
  font-size: 10px;
  padding-bottom: 15px;
}

.person-description {
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}

.connections-title,
.connection-item {
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-bottom: 2px;
}

.connection-category {
  font-size: 10px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
}

.category-name {
  font-weight: bold;
}

.node-names {
  margin-left: 5px;
}

/* Close button styles */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  color: #555;
}

/* Mobile specific styles */
@media (max-width: 600px) {
  .detail-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 100;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
  }
}

.highlighted,
.faded {
  opacity: 1; /* Adjust as needed */
}

.faded {
  opacity: 0.3;
}
