body { 
	background-color: #FFF !important; 
	font-family: 'Roboto', sans-serif;
}

.headline {
	font-family: 'ArtHouseBold', sans-serif;
	font-size: 24px;
	color: #191919;
	margin-bottom: 10px;
}

.subhead {
	font-family: 'ArtHouseMed', sans-serif;
	font-size: 17px;
	color: #999;
	margin-bottom: 10px;
	line-height: 1.4em;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 17px;
	color: #191919;
}

.credits {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #666;
	margin-top: 10px;
	line-height: 1.5em;
}

button {
	font-family: 'ArtHouseMed', sans-serif;
	font-size: 17px;
}

/* *** */

.intro {
	margin-bottom: 30px;
}

/* .left-photo, .right-photo {
	width: 45%;
} */

.left-photo, .right-photo {
	width: 50%;
}

.option-row {
	display: flex;
	margin-bottom: 30px;
}

.option-row.r2 {
	flex-wrap: wrap;
    max-width: 800px;
}

.ri,.mi {
	margin-left: 30px;
	
}

.r3 {
	margin-top: 35px;
}

.container-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 40px;
	/* border: 5px solid black; */
	background-color: grey;
	position: relative;

}

.body-wrapper {
	max-width: 1600px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.content-wrapper {
	min-width: 800px;
}

.mb-3 {
	max-width: 240px;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	padding-left: 0;
	margin-bottom: 0 !important;
}



.mb-3 label, .r1 label {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
}

.r1 label {
	margin-left: 10px;
}

.form-switch .form-check-input {
	height: 1.5em !important;
	width: 2.5em !important;
}

.form-check.form-switch {
	display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-end !important;
}

.output-wrapper {
	border: 1px dashed #333333;
	border-radius: 5px;
	display: flex;
	width: 750px;
	height: 423px;
}

img {
	z-index: 1000;
}

#border-line1 {
	width: 50%;
	border-right: 5px solid white;
	position: absolute;
	height: 100%;
	z-index: 1050;
	pointer-events: none;
	/* left: -5px; */
}

#border-line2 {
	width: 34%;
	border-right: 5px solid white;
	position: absolute;
	height: 100%;
	z-index: 1050;
	pointer-events: none;
	/* left: -5px; */
}

#border-line3 {
	width: 67%;
	border-right: 5px solid white;
	position: absolute;
	height: 100%;
	z-index: 1050;
	pointer-events: none;
	/* left: -5px; */
}

#split-tool {
	width: 750px;
	margin-top: 60px;
}

#instructions {
	font-size: 16px;
	color: #999;
}

.cropme-slider {
	transform: unset !important;
	/* margin-top: -35px !important; */
	margin-left: auto !important;
	margin-right: auto !important;
	/* display: flex !important;
    justify-content: center !important;
	width: unset !important; */
}

.cropme-slider>input {
	position: relative;
    top: -15px;
}

@media (max-width: 900px ) {

}

@media (max-width: 500px ) {
	.headline {
		font-size: 20px;
	}
	.subhead {
		font-size: 16px;
	}
	p {
		font-size: 16px;
	}
	.credits {
		font-size: 12px;
	}

}
