/* === GLOBAL SETTINGS === */

/* html {
  background-color: #0c0c0c;
} */

#web-graphic {
  background-color: #0c0c0c;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #0c0c0c !important;
}

svg {
  height: auto;
  max-width: 90%;
  overflow: visible;
  padding: 0;
  transition: margin-top 0.3s;
}

/* === HEADER === */

.header {
  height: 100px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  z-index: 5; /* set the index lower than the details panel to keep it on top */
}

/* === LINKS AND NODES === */

/* Background color under label */
.node-name-bg {
  fill: #0c0c0c;
  stroke: none;
}

/* Node label */
.node-name {
  font-weight: 400;
  font-size: 11.5px;
  fill: #d3d3d3;
  font-style: normal;
  text-align: center;
  font-family: "Inter", sans-serif;
}

/* Default link */
.link {
  stroke: #b6d2cf; /* default stroke color */
  stroke-width: 1px; /* default stroke width */
  stroke-opacity: 0.25; /* default opacity */
}

/* === HIGHLIGHTED STATES === */

.highlighted {
  opacity: 1;
  pointer-events: all;
}

.link.highlighted {
  stroke: #3d80cf; /* blue for highlighted links */
  stroke-width: 2px; /* thicker stroke for visibility */
  stroke-opacity: 1; /* full opacity for highlighted */
  mix-blend-mode: normal; /* ensure normal blend mode */
}

.node-group .node-border {
  fill: none;
  stroke: #3d80cf; /* blue border for highlighted nodes */
  stroke-width: 2px; /* make border visible */
  display: none; /* hide by default */
}

.node-group .node {
  opacity: 1; /* default opacity for nodes */
}

.faded {
  opacity: 0.2; /* reduce opacity for faded nodes */
}

.link.faded {
  opacity: 0; /* hide links when faded class is applied */
  pointer-events: none;
}

/* === DETAILS PANEL === */

#details-panel {
  position: fixed;
  top: 0;
  bottom: auto;
  width: 100%;
  background: #0c0c0c; /* dark background */
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
}

/* Top div contains the selected node's name */
#details-name {
  position: relative; /* make this container the reference for absolute positioning */
  padding: 0; /* add some padding for aesthetics */
  display: flex; /* use flexbox to align elements */
  justify-content: space-between; /* space out the name and the button */
  align-items: center; /* center align the items vertically */
  color: #d3d3d3; /* light color for text on dark mode */
  font-family: "ArtHouseMed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#name-span {
  flex-grow: 1; /* Allows the name to take up the remaining space */
  /* padding-bottom: 4px; */
}

/* Add space between content and scroll bar */
.connection-category,
.person-name,
.person-role,
.person-description {
  margin-right: 6px;
}

.person-role {
  margin-top: 2px;
}

.person-name {
  font-weight: 700;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #d3d3d3; /* light color for text on dark mode */
}

.person-role,
.person-description {
  font-family: "Inter", sans-serif;
  color: #b6b6b6; /* slightly lighter color for subtext on dark mode */
}

.person-role {
  font-size: 14px;
}

.person-description {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}

/* === CONNECTIONS === */

/* "CONNECTIONS" title */
.connections-title {
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-bottom: 2px;
  font-size: 13px;
  color: #b6b6b6; /* slightly lighter color for subtext on dark mode */
}

.connection-category {
  margin-bottom: 4px;
  margin-top: 0;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  color: #d3d3d3; /* light color for text */
  padding-bottom: 4px; /* add padding within the element, instead of margin outside it */
}

.connection-category .category-name,
.connection-category .node-names {
  margin-right: 6px; /* ensure there's enough space around text */
  display: inline-block; /* ensure inline formatting */
}

/* Container div */
.category-name {
  font-weight: bold;
}

/* Names */
.node-names {
  margin-left: 3px;
}

#scrollbar-div {
  height: 100%; /* Take full height of details panel */
  width: 100%;
  overflow: hidden; /* Remove scrolling */
  position: relative;
  padding-right: 10px; /* Add padding for aesthetics */
  padding-left: 10px;
  box-sizing: border-box;
}

#scrollbar-div,
.details-content {
  overflow: auto;
}

.details-content {
  font-family: "Inter", sans-serif;
  color: #d3d3d3; /* light color for text */
}

/* Details Name */
#details-name {
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
}
