 .site-content form{
    background-color:#000
}
 .site-content form label{
    color:#c8c8c8
}
 .site-content form input[type=text], .site-content form input[type=email], .site-content form input[type=tel], .site-content form input[type=url], .site-content form input[type=number], .site-content form textarea{
    background-color:#616161;
    color:#c8c8c8
}
 .site-content form input[type=text]::-webkit-input-placeholder,  .site-content form input[type=email]::-webkit-input-placeholder,  .site-content form input[type=tel]::-webkit-input-placeholder,  .site-content form input[type=url]::-webkit-input-placeholder,  .site-content form input[type=number]::-webkit-input-placeholder,  .site-content form textarea::-webkit-input-placeholder{
    color:#c8c8c8
}
 .site-content form input[type=text]::-moz-placeholder,  .site-content form input[type=email]::-moz-placeholder,  .site-content form input[type=tel]::-moz-placeholder,  .site-content form input[type=url]::-moz-placeholder,  .site-content form input[type=number]::-moz-placeholder,  .site-content form textarea::-moz-placeholder{
    color:#c8c8c8
}
 .site-content form input[type=text]:-ms-input-placeholder,  .site-content form input[type=email]:-ms-input-placeholder,  .site-content form input[type=tel]:-ms-input-placeholder,  .site-content form input[type=url]:-ms-input-placeholder,  .site-content form input[type=number]:-ms-input-placeholder,  .site-content form textarea:-ms-input-placeholder{
    color:#c8c8c8
}
 .site-content form input[type=text]::-ms-input-placeholder,  .site-content form input[type=email]::-ms-input-placeholder,  .site-content form input[type=tel]::-ms-input-placeholder,  .site-content form input[type=url]::-ms-input-placeholder,  .site-content form input[type=number]::-ms-input-placeholder,  .site-content form textarea::-ms-input-placeholder{
    color:#c8c8c8
}
 .site-content form input[type=text]::placeholder, .site-content form input[type=email]::placeholder, .site-content form input[type=tel]::placeholder, .site-content form input[type=url]::placeholder, .site-content form input[type=number]::placeholder, .site-content form textarea::placeholder{
    color:#c8c8c8
}
 .site-content form input[type=text]:focus, .site-content form input[type=email]:focus, .site-content form input[type=tel]:focus, .site-content form input[type=url]:focus, .site-content form input[type=number]:focus, .site-content form textarea:focus{
    background-color:rgba(0,0,0,0);
    border-color:#616161
}
.error  .site-content form input[type=text],.error  .site-content form input[type=email],.error  .site-content form input[type=tel],.error  .site-content form input[type=url],.error  .site-content form input[type=number],.error  .site-content form textarea{
    background-color:rgba(0,0,0,0);
    border-color:#ef5350;
    color:#ef5350
}
 .site-content form input[type=submit], .site-content form input[type=button]{
    background-color:#6ab1ed;
    border:1px solid #6ab1ed;
    color:#fff
}
 .site-content form input[type=submit]:hover, .site-content form input[type=submit]:focus, .site-content form input[type=button]:hover, .site-content form input[type=button]:focus{
    background-color:#3c99e8;
    border-color:#3c99e8
}
 .site-content form input[type=submit]:disabled, .site-content form input[type=submit][disabled], .site-content form input[type=button]:disabled, .site-content form input[type=button][disabled]{
    background-color:#303030;
    border-color:#303030;
    color:#6b6b6b
}
 .site-content form input[type=submit].button-secondary, .site-content form input[type=button].button-secondary{
    background-color:#000;
    border-color:#6ab1ed;
    border-width:2px;
    color:#6ab1ed
}
 .site-content form input[type=submit].button-secondary:hover, .site-content form input[type=submit].button-secondary:focus, .site-content form input[type=button].button-secondary:hover, .site-content form input[type=button].button-secondary:focus{
    background-color:#6ab1ed;
    color:#fff
}
 .site-content form.short-form .field-wrap label{
    color:#a8a8a8
}
 .site-content form.short-form input[type=text]::-webkit-input-placeholder,  .site-content form.short-form input[type=email]::-webkit-input-placeholder,  .site-content form.short-form input[type=tel]::-webkit-input-placeholder,  .site-content form.short-form input[type=url]::-webkit-input-placeholder,  .site-content form.short-form input[type=number]::-webkit-input-placeholder,  .site-content form.short-form textarea::-webkit-input-placeholder,  .site-content form.short-form input[type=submit]::-webkit-input-placeholder,  .site-content form.short-form input[type=button]::-webkit-input-placeholder{
    color:rgba(0,0,0,0)
}
 .site-content form.short-form input[type=text]::-moz-placeholder,  .site-content form.short-form input[type=email]::-moz-placeholder,  .site-content form.short-form input[type=tel]::-moz-placeholder,  .site-content form.short-form input[type=url]::-moz-placeholder,  .site-content form.short-form input[type=number]::-moz-placeholder,  .site-content form.short-form textarea::-moz-placeholder,  .site-content form.short-form input[type=submit]::-moz-placeholder,  .site-content form.short-form input[type=button]::-moz-placeholder{
    color:rgba(0,0,0,0)
}
 .site-content form.short-form input[type=text]:-ms-input-placeholder,  .site-content form.short-form input[type=email]:-ms-input-placeholder,  .site-content form.short-form input[type=tel]:-ms-input-placeholder,  .site-content form.short-form input[type=url]:-ms-input-placeholder,  .site-content form.short-form input[type=number]:-ms-input-placeholder,  .site-content form.short-form textarea:-ms-input-placeholder,  .site-content form.short-form input[type=submit]:-ms-input-placeholder,  .site-content form.short-form input[type=button]:-ms-input-placeholder{
    color:rgba(0,0,0,0)
}
 .site-content form.short-form input[type=text]::-ms-input-placeholder,  .site-content form.short-form input[type=email]::-ms-input-placeholder,  .site-content form.short-form input[type=tel]::-ms-input-placeholder,  .site-content form.short-form input[type=url]::-ms-input-placeholder,  .site-content form.short-form input[type=number]::-ms-input-placeholder,  .site-content form.short-form textarea::-ms-input-placeholder,  .site-content form.short-form input[type=submit]::-ms-input-placeholder,  .site-content form.short-form input[type=button]::-ms-input-placeholder{
    color:rgba(0,0,0,0)
}
 .site-content form.short-form input[type=text]::placeholder, .site-content form.short-form input[type=email]::placeholder, .site-content form.short-form input[type=tel]::placeholder, .site-content form.short-form input[type=url]::placeholder, .site-content form.short-form input[type=number]::placeholder, .site-content form.short-form textarea::placeholder, .site-content form.short-form input[type=submit]::placeholder, .site-content form.short-form input[type=button]::placeholder{
    color:rgba(0,0,0,0)
}
 .site-content form .checkbox input[type=checkbox]:checked+label::before, .site-content form .checkbox input[type=radio]:checked+label::before, .site-content form .radio input[type=checkbox]:checked+label::before, .site-content form .radio input[type=radio]:checked+label::before{
    border-color:#6ab1ed
}
 .site-content form .checkbox label::before, .site-content form .radio label::before{
    border:1px solid #858585
}
 .site-content form .checkbox label::after, .site-content form .radio label::after{
    background-color:#6ab1ed
}
 .site-content form .required{
    color:#ef5350
}
 .site-content form .error-msg{
    color:#ef5350
}
 .nf-fu-fileinput-button{
    background-color:#fff;
    border-color:#6ab1ed;
    color:#6ab1ed
}
 .nf-fu-fileinput-button:hover, .nf-fu-fileinput-button:focus{
    background-color:#6ab1ed;
    color:#fff
}
 .nf-form-fields-required{
    color:#c8c8c8
}
 .ninja-forms-req-symbol{
    color:#ef5350
}
 .nf-error-msg{
    color:#ef5350
}
 .nf-error input[type=text], .nf-error input[type=email], .nf-error input[type=tel], .nf-error input[type=url], .nf-error textarea{
    background-color:#000;
    border-color:#ef5350;
    color:#ef5350
}
 .nf-error input[type=text]::-webkit-input-placeholder,  .nf-error input[type=email]::-webkit-input-placeholder,  .nf-error input[type=tel]::-webkit-input-placeholder,  .nf-error input[type=url]::-webkit-input-placeholder,  .nf-error textarea::-webkit-input-placeholder{
    color:#ef5350
}
 .nf-error input[type=text]::-moz-placeholder,  .nf-error input[type=email]::-moz-placeholder,  .nf-error input[type=tel]::-moz-placeholder,  .nf-error input[type=url]::-moz-placeholder,  .nf-error textarea::-moz-placeholder{
    color:#ef5350
}
 .nf-error input[type=text]:-ms-input-placeholder,  .nf-error input[type=email]:-ms-input-placeholder,  .nf-error input[type=tel]:-ms-input-placeholder,  .nf-error input[type=url]:-ms-input-placeholder,  .nf-error textarea:-ms-input-placeholder{
    color:#ef5350
}
 .nf-error input[type=text]::-ms-input-placeholder,  .nf-error input[type=email]::-ms-input-placeholder,  .nf-error input[type=tel]::-ms-input-placeholder,  .nf-error input[type=url]::-ms-input-placeholder,  .nf-error textarea::-ms-input-placeholder{
    color:#ef5350
}
 .nf-error input[type=text]::placeholder, .nf-error input[type=email]::placeholder, .nf-error input[type=tel]::placeholder, .nf-error input[type=url]::placeholder, .nf-error textarea::placeholder{
    color:#ef5350
}
 .list-radio-wrap input[type=checkbox]:checked+label::before, .list-radio-wrap input[type=radio]:checked+label::before, .list-checkbox-wrap input[type=checkbox]:checked+label::before, .list-checkbox-wrap input[type=radio]:checked+label::before{
    border-color:#6ab1ed
}
 .list-radio-wrap .nf-field-element label::before, .list-checkbox-wrap .nf-field-element label::before{
    border:1px solid #c8c8c8
}
 .list-radio-wrap .nf-field-element label::after, .list-checkbox-wrap .nf-field-element label::after{
    background-color:#6ab1ed
}
 .checkbox-wrap .nf-field-label label::before{
    border:1px solid #858585
}
 .checkbox-wrap .nf-field-label label::after{
    background-color:#144aa8
}
 .checkbox-wrap .nf-field-label label.nf-checked-label::before{
    border-color:#6ab1ed
}
 hr.ninja-forms-field{
    background-color:#858585
}
 .nf-form-content.short-form .textarea-container label, .nf-form-content.short-form .email-container label, .nf-form-content.short-form .textbox-container label, .nf-form-cont.short-form .textarea-container label, .nf-form-cont.short-form .email-container label, .nf-form-cont.short-form .textbox-container label{
    color:#a8a8a8
}
 .nf-form-content.short-form .textarea-container input::-webkit-input-placeholder,  .nf-form-content.short-form .email-container input::-webkit-input-placeholder,  .nf-form-content.short-form .textbox-container input::-webkit-input-placeholder,  .nf-form-cont.short-form .textarea-container input::-webkit-input-placeholder,  .nf-form-cont.short-form .email-container input::-webkit-input-placeholder,  .nf-form-cont.short-form .textbox-container input::-webkit-input-placeholder{
    color:rgba(0,0,0,0)
}
 .nf-form-content.short-form .textarea-container input::-moz-placeholder,  .nf-form-content.short-form .email-container input::-moz-placeholder,  .nf-form-content.short-form .textbox-container input::-moz-placeholder,  .nf-form-cont.short-form .textarea-container input::-moz-placeholder,  .nf-form-cont.short-form .email-container input::-moz-placeholder,  .nf-form-cont.short-form .textbox-container input::-moz-placeholder{
    color:rgba(0,0,0,0)
}
 .nf-form-content.short-form .textarea-container input:-ms-input-placeholder,  .nf-form-content.short-form .email-container input:-ms-input-placeholder,  .nf-form-content.short-form .textbox-container input:-ms-input-placeholder,  .nf-form-cont.short-form .textarea-container input:-ms-input-placeholder,  .nf-form-cont.short-form .email-container input:-ms-input-placeholder,  .nf-form-cont.short-form .textbox-container input:-ms-input-placeholder{
    color:rgba(0,0,0,0)
}
 .nf-form-content.short-form .textarea-container input::-ms-input-placeholder,  .nf-form-content.short-form .email-container input::-ms-input-placeholder,  .nf-form-content.short-form .textbox-container input::-ms-input-placeholder,  .nf-form-cont.short-form .textarea-container input::-ms-input-placeholder,  .nf-form-cont.short-form .email-container input::-ms-input-placeholder,  .nf-form-cont.short-form .textbox-container input::-ms-input-placeholder{
    color:rgba(0,0,0,0)
}
 .nf-form-content.short-form .textarea-container input::placeholder, .nf-form-content.short-form .email-container input::placeholder, .nf-form-content.short-form .textbox-container input::placeholder, .nf-form-cont.short-form .textarea-container input::placeholder, .nf-form-cont.short-form .email-container input::placeholder, .nf-form-cont.short-form .textbox-container input::placeholder{
    color:rgba(0,0,0,0)
}
 .choices__inner{
    background-color:#616161;
    color:#a8a8a8
}
 .choices__item.is-highlighted{
    background-color:#303030;
    color:#6ab1ed
}
 .choices__list--dropdown{
    background-color:#000;
    color:#a8a8a8
}
 .choices__list--dropdown.is-active{
    border-color:#c8c8c8
}
 .choices[data-type*=select-one]::after{
    border-color:#a8a8a8 rgba(0,0,0,0) rgba(0,0,0,0)
}
 .choices[data-type*=select-one].is-open::after{
    border-color:#6ab1ed rgba(0,0,0,0) rgba(0,0,0,0)
}
 .choices__list--multiple .choices__item{
    background-color:#6ab1ed;
    border-color:#6ab1ed
}
 hr{
    background-image:-webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0)));
    background-image:-o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    border:0;
    height:1px;
    margin:2.5rem 0rem
}
@media(min-width: 48rem){
     hr{
        margin:4.375rem 0rem
    }
}
 .hero-background{
    background-size:cover;
    height:23.4375rem
}
 .hero-background::before{
    content:none
}
@media(min-width: 80rem){
     .hero-background{
        height:34.375rem
    }
}
 .hero-wrap::after{
    background:-webkit-gradient(linear, left bottom, left top, color-stop(25%, #0c0c0c), to(rgba(12, 12, 12, 0)));
    background:-o-linear-gradient(bottom, #0c0c0c 25%, rgba(12, 12, 12, 0) 100%);
    background:linear-gradient(0deg, #0c0c0c 25%, rgba(12, 12, 12, 0) 100%);
    content:"";
    display:block;
    height:100%;
    left:0;
    margin-left:calc(50% - 50vw);
    margin-right:calc(50% - 50vw);
    position:absolute;
    top:0;
    width:100vw;
    z-index:0
}
@media(min-width: 48rem){
     .hero-wrap{
        background:-webkit-gradient(linear, left bottom, left top, from(#0c0c0c), color-stop(12%, #0c0c0c), to(rgba(12, 12, 12, 0)));
        background:-o-linear-gradient(bottom, #0c0c0c 0%, #0c0c0c 12%, rgba(12, 12, 12, 0) 100%);
        background:linear-gradient(0deg, #0c0c0c 0%, #0c0c0c 12%, rgba(12, 12, 12, 0) 100%)
    }
}
 .template-hero{
    margin-bottom:0;
    z-index:0
}
@media(min-width: 80rem){
     .template-hero .section-content--full{
        max-width:100%
    }
}
 .template-hero .article-byline span{
    color:#c8c8c8
}
 .template-hero .article-byline a{
    color:#419fef
}
@media(min-width: 80rem){
     .template-hero .article-byline .time-wrap{
        color:#8a8a8a
    }
}
 .template-hero .article-byline .time-wrap .meta-dot{
    color:#8a8a8a
}
 .template-hero .section-content--primary{
    margin:11.5625rem auto 0;
    z-index:1
}
@media(min-width: 48rem){
     .template-hero .section-content--primary{
        margin-top:17.8125rem
    }
}
 .template-hero.no-featured-image  .template-hero .hero-background{
    height:3.75rem !important
}
 .site{
    background:#0c0c0c
}
 .site-header{
    background-color:#000
}
 .site-header__menu-primary a, .site-header__menu-secondary a{
    color:#fff
}
 .site-header__primary.sticky{
    background-color:rgba(12,12,12,.9)
}
 .site-header--featured{
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0)));
    background:-o-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%)
}
 .site-header--featured::before{
    display:none
}
 .site-header--featured.js-is-sticky::before{
    display:block
}
 .article-header--wrap .article-headline{
    font-family:"Georgia",serif;
    font-weight:400;
    margin:0 auto
}
@media(min-width: 48rem){
     .article-header--wrap .article-headline{
        max-width:40.625rem
    }
}
@media(min-width: 80rem){
     .article-header--wrap .article-headline{
        max-width:60.625rem
    }
}
 .article-header--wrap .article-headline, .article-header--wrap .article-subtitle, .article-header--wrap .article-meta{
    text-shadow:1px 1px 2px rgba(0,0,0,.5)
}
 .article-header--wrap .article-byline, .article-header--wrap time{
    font-family:"Georgia",serif
}
 .wp-block-image figcaption::after{
    background:rgba(255,255,255,.28)
}
 .article-subtitle{
    color:#c8c8c8
}
 .below-hero{
    background-color:#0c0c0c
}
 .imagewrap1, .imagewrap2{
    background:#0c0c0c
}
 .article-content h2{
    color:#c8c8c8
}
 .article-content h3{
    color:#c8c8c8
}
 .article-headline, .article-byline, .article-meta{
    color:#c8c8c8
}
 .article-headline a, .article-byline a, .article-meta a{
    color:#c8c8c8
}
 .article-headline a:hover, .article-byline a:hover, .article-meta a:hover{
    color:#8a8a8a
}
 .article-headline .share-buttons a, .article-byline .share-buttons a, .article-meta .share-buttons a{
    color:#171717
}
 .meta-dot{
    color:#8a8a8a
}
 time{
    color:#8a8a8a
}
 figcaption div{
    color:#8a8a8a
}
 figcaption cite{
    color:#c8c8c8;
    font-family:"Georgia",serif
}
 .featured-text{
    color:#fff
}
 .article-footer--featured{
    border-bottom:0;
    border-top:1px solid rgba(255,255,255,.28);
    color:#fff;
    display:block;
    font-family:"Georgia",serif;
    margin-top:2.5rem;
    padding-top:1.5rem
}
@media(min-width: 48rem){
     .article-footer--featured{
        margin-top:4.375rem
    }
}
 .article-footer--featured p{
    font-family:"Georgia",serif;
    margin-bottom:.625rem
}
 .article-footer--featured a{
    color:#c8c8c8;
    text-decoration:underline
}
 .article-footer--featured a:hover, .article-footer--featured a:focus{
    text-decoration:none
}
 .article-content, .rich-text p, .rich-text li{
    color:#c8c8c8
}
 .rich-text a{
    color:#6ab1ed
}
 .site-footer{
    background-color:#0c0c0c
}
 .site-footer__menu-primary a, .site-footer__menu-primary #ot-sdk-btn.ot-sdk-show-settings, .site-footer__menu-secondary a, .site-footer__menu-secondary #ot-sdk-btn.ot-sdk-show-settings{
    color:#fff
}
 .article-footer, .site-footer, .site-footer__identity{
    border-color:rgba(255,255,255,.28)
}
.featured-article--title-below .hero-background{
    height:24.375rem
}
@media(min-width: 48rem){
    .featured-article--title-below .hero-background{
        height:26.875rem
    }
}
@media(min-width: 80rem){
    .featured-article--title-below .hero-background{
        height:34.375rem
    }
}
.featured-article--title-below .hero-background::before{
    background:-webkit-gradient(linear, left bottom, left top, from(#0c0c0c), color-stop(7%, rgba(12, 12, 12, 0.5)), to(rgba(12, 12, 12, 0)));
    background:-o-linear-gradient(bottom, #0c0c0c 0%, rgba(12, 12, 12, 0.5) 7%, rgba(12, 12, 12, 0) 100%);
    background:linear-gradient(0deg, #0c0c0c 0%, rgba(12, 12, 12, 0.5) 7%, rgba(12, 12, 12, 0) 100%)
}
@media(min-width: 48rem){
    .featured-article--title-below .hero-background::before{
        background:-webkit-gradient(linear, left bottom, left top, from(#0c0c0c), color-stop(15%, rgba(12, 12, 12, 0.3)), to(rgba(12, 12, 12, 0)));
        background:-o-linear-gradient(bottom, #0c0c0c 0%, rgba(12, 12, 12, 0.3) 15%, rgba(12, 12, 12, 0) 100%);
        background:linear-gradient(0deg, #0c0c0c 0%, rgba(12, 12, 12, 0.3) 15%, rgba(12, 12, 12, 0) 100%)
    }
}
@media(min-width: 80rem){
    .featured-article--title-below .hero-background::before{
        background:-webkit-gradient(linear, left bottom, left top, from(#0c0c0c), color-stop(5%, rgba(12, 12, 12, 0.3)), to(rgba(12, 12, 12, 0)));
        background:-o-linear-gradient(bottom, #0c0c0c 0%, rgba(12, 12, 12, 0.3) 5%, rgba(12, 12, 12, 0) 100%);
        background:linear-gradient(0deg, #0c0c0c 0%, rgba(12, 12, 12, 0.3) 5%, rgba(12, 12, 12, 0) 100%)
    }
}
.featured-article--title-below .template-hero .section-content--primary{
    margin-top:17.25rem
}
@media(min-width: 48rem){
    .featured-article--title-below .template-hero .section-content--primary{
        margin-top:18.75rem
    }
}
@media(min-width: 80rem){
    .featured-article--title-below .template-hero .section-content--primary{
        margin-top:28.125rem
    }
}
@media(min-width: 48rem){
    .video-playing .template-hero .section-content--primary{
        margin-top:0
    }
}
@media(min-width: 80rem){
    .video-playing .template-hero .section-content--primary{
        margin-top:0
    }
}
 figure.wp-block-pullquote p{
    color:#c8c8c8
}
 figure.wp-block-pullquote cite{
    color:#8a8a8a
}
@media(min-width: 48rem){
     figure.wp-block-pullquote.alignright p, figure.wp-block-pullquote.alignleft p{
        font-size:1.5rem;
        line-height:1.7
    }
}
@media(min-width: 80rem){
     figure.wp-block-pullquote.alignright p, figure.wp-block-pullquote.alignleft p{
        letter-spacing:.5px
    }
}
 .recirc-module{
    color:#8a8a8a;
    margin-bottom:1.875rem
}
 .rich-text .recirc__heading{
    color:#c8c8c8
}
 .rich-text .recirc__subheading{
    color:#c8c8c8
}
 .recirc__post{
    border:1px solid rgba(255,255,255,.28)
}
 .post__title a{
    color:#c8c8c8
}
 .wp-block-nbc-image-with-text-block figcaption{
    border-color:rgba(255,255,255,.28);
    color:#8a8a8a;
    font-family:"Georgia",serif
}
 .wp-block-nbc-image-with-text-block figcaption::after{
    background:rgba(255,255,255,.28)
}
/*# sourceMappingURL=darkMode.b883ef5c8798e5173235.min.css.map*/
