html {
  box-sizing: border-box;

}

.containerX {
  max-width: 1000px;
  margin: 0px auto;
  background-color: #FFF;
  padding: 10px 10px;
  height: 100%;
}

#map {
  height: 500px;
  margin: 0;

}


.textLabelclass{
  padding-top: 2px;
  border-radius: 6px;
  background-color: rgba(204,0,0,.66);
  width: 12px !important;
  height: 12px !important;
}
.buildingLabel{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: black;
  line-height: 1.1em;
}

.thumb {
  width: 125px;
  float: left;
  margin-right: 15px;
}

#talent {
  margin-top: 15px;
}

#currentSel {
  margin-top: 15px;
  border-bottom: 1px dotted #CCC;
}

@media (max-width: 700px ) {



}
