/* styles.css */

body {
  margin: 0;
  padding: 0;
  background: #1a1a1a;
  color: white;
  font-size: 1rem;
  /* 16 px */
  font-family: "Roboto", sans-serif;
}

.scroll-container {
  position: relative;
  height: 250vh;
  min-height: 800px;
}

.sticky-container {
  position: sticky;
  top: 0;
  height: 100vh;
  min-height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 799px;
  height: 800px;
}

.historic-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  object-fit: contain;
}

.historic-image.visible {
  opacity: 1;
}

.historic-image:first-child {
  opacity: 1;
}

.text-overlay {
  position: absolute;
  top: 500px;
  left: 40px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 4px;
}

.text-overlay.visible {
  opacity: 1;
}

.text-overlay h2 {
  margin: 0 0 10px 0;
  font-family: "Arthouse Owned Mono Rounded";
  font-weight: 600;
  font-size: 1.15rem;
  color: white;
  display: flex;
  align-items: center;
}

.text-overlay p {
  margin: 0;
  font-size: 1rem;
  /* 16px */
  letter-spacing: 0.05em;
  margin-top: 10px;
  text-transform: uppercase;
  color: #818181;
}

.number {
  font-weight: bold;
  color: azure;
}
