body {
  overflow: hidden;
}
.containerX {
  max-width: 1100px;
  margin: 15px auto;
}
#board {
  padding: 15px;
  background-image: url('../images/blackboard.jpg');
  min-height: 768px;
  background-size: cover;
}

#theNames, #theParts {
  border-right: 1px solid rgba(255,255,255,.33);
}

.sectHead {
  color: #ffcc00;
  text-transform: uppercase;
  font-family: 'Chalkduster', sans-serif;
  font-size: 20px;
  line-height: 1.2em;
  margin-bottom: 35px;
}

.sectHeadBig {
  font-size: 30px;
  color: #ffcc00 !important;
}

.pName {
  font-family: 'Chalkduster', sans-serif;
  font-size: 18px;
  color: #FFF;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-top: 30px;
  cursor: pointer;
  width: 110px;
}
.pName:hover {
  color: #ffcc00;
}

.partsRight {
  float: left;
  width: 70%;
}

.partName {
  font-family: 'Chalkduster', sans-serif;
  font-size: 18px;
  color: #FFF;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 0px;
  cursor: pointer;
}

.partDesc {
  color: #FFF;
  font-size: 14px;
  line-height: 1.3em;
}

.dottedCircle {

  width: 83px;
  height: 83px;
  border-radius: 43px;
  float: left;
  margin-right: 15px;
}

.partCon {
  clear: both;
  opacity: 0;
}

.selBtn {
  color: #000;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1px;
  background-color: #ffcc00;
  width: 84px;
  margin: -10px 0 25px 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;

}
.selBtn:hover {
  background-color: #FFF;
}

#bodyParts {
  width: 408px;
  margin: 75px auto 0px auto;
}

#allNamesM {
  display: none;
}

#scoreBox {
  height: 125px;
  border: 1px solid #666;
  margin-top: 125px;
  font-family: 'Chalkduster', sans-serif;
  font-size: 20px;
  color: #FFF;
  padding: 15px;
  text-align: center;
}

.headPos {
  position: absolute;
  top: 95px;
  left: 215px;
}

.torsoPos {
  position: absolute;
  top: 160px;
  left: 160px;
}

.legsPos {
  position: absolute;
  top: 290px;
  left: 152px;
}

.rfPos {
  position: absolute;
  top: 435px;
  left: 305px;
}

.lfPos {
  position: absolute;
  top: 288px;
  left: 120px;
}

.partLabel {
  position: absolute;
  font-family: 'Chalkduster', sans-serif;
  font-size: 18px;
  color: #FFF;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 140px;
  line-height: 1.2em;
  display: none;
}

#labelhead {
  text-align: right;
  top: 80px;
  left: 50px;
}

#labeltorso {
  text-align: right;
  top: 180px;
  left: 325px;
}

#labellegs {
  top: 325px;
  left: 335px;
  width: 200px;
}

#labelrf {
  top: 480px;
  left: 295px;
  width: 200px;
}

#labellf {
  text-align: right;
  top: 370px;
  left: 5px;
  width: 200px;
}

.bgHigh0 {
  background-image: url('../images/highlight0.png');
  background-repeat: no-repeat;
}
.bgHigh1 {
  background-image: url('../images/highlight1.png');
  background-repeat: no-repeat;
}
.bgHigh2 {
  background-image: url('../images/highlight2.png');
  background-repeat: no-repeat;
}
.bgHigh3 {
  background-image: url('../images/highlight3.png');
  background-repeat: no-repeat;
}
.bgHigh4 {
  background-image: url('../images/highlight4.png');
  background-repeat: no-repeat;
}

.fadeoutR {
    display: none;
}

#saveImage {
  font-family: 'ArtHouseMed', sans-serif;
	font-size: 14px;
	color: #ffcc00;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}
#saveImage:hover {
  color: #FFF;
}



#nbcLogo, #tLogo {
  position: absolute;
  top: 15px;
  right: 0px;
}
@media (max-width: 500px) {
  #allNamesM {
    display: block;
  }
  #allNames {
    display: none;
  }

  #pdrop {
    display: block;
    background-color: #ffcc00;
    color: #000;
    width: 100%;
    text-align: center;
    border-color: #fff;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 20px;
  }

  #theNames, #theParts {
    border-right: none;
  }

  #partsScroll {
    margin: 15px 0;
    height: 230px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  #allParts {
    width: 1150px;
    position: relative;
  }

  .partCon {
    width: 200px;
    clear: none;
    float: left;
    margin-right: 15px;
  }

  .dottedCircle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
  }

  .partDesc {

  }

  .selBtn {

  }

  .sectHead {
    margin-bottom: 5px;
  }

  #bodyParts {
    width: 100%;
    margin: 25px auto 0px auto;
    position: relative;
    zoom: .66;
    top: -75px;
    left: -20px;
  }
  #outline {
    position: relative;
    top: 95px;
    left: 65px;
  }

  #scoreBox {
    height: 90px;
    margin-top: 75px;
    font-size: 13px;
    margin-bottom: 25px;
  }

  .fadeoutR {
      display: block;
      position: absolute;
      right: 0px;
      top: 30px;
      height: 210px;
      width: 5em;
      background: -webkit-linear-gradient( 90deg,
          rgba( 50,  50,  50, 0) 0%,
          rgba( 50,  50,  50, 1) 100%
      );
      background-image: -moz-linear-gradient( 90deg,
          rgba( 50,  50,  50, 0) 0%,
          rgba( 50,  50,  50, 1) 100%
      );
      background-image: -o-linear-gradient( 90deg,
          rgba( 50,  50,  50, 0) 0%,
          rgba( 50,  50,  50, 1) 100%
      );
      background-image: linear-gradient( 90deg,
          rgba( 50,  50,  50, 0) 0%,
          rgba( 50,  50,  50, 1) 100%
      );
      background-image: -ms-linear-gradient( 90deg,
          rgba( 50,  50,  50, 0) 0%,
          rgba( 50,  50,  50, 1) 100%
      );
  }

  .partLabel {
    font-size: 14px;
    width: 165px;
  }

  #labelhead {
    text-align: right;
    top: 80px;
    left: 30px;
  }

  #labeltorso {
    text-align: right;
    top: 180px;
    left: 60px;
  }

  #labellegs {
    top: 235px;
    left: 365px;
    width: 200px;
  }


}
