body { 
    font-family: Arial, sans-serif; 
    margin: 20px;
}

.controls { 
    margin: 10px 0; 
}

.headline-subtitle {
    font-weight: bold;
}

#headline-preview {
    line-height: 1.5em;
}
    
#crop-container { 
    width: 100%;
    max-width: 800px; 
    height: 534px; 
    background: #f0f0f0; 
    position: relative; 
}
    
#crop-container img { 
    max-width: 100%; 
    display: block; 
}
   
#size-buttons button { 
    margin-right: 5px; 
}
   
#previews { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    margin-top: 20px; 
}

.select-input {
    width: 100%;
    padding: 10px;
}
   
.preview { 
    text-align: center; 
}
   
.preview img { 
    max-width: 200px; 
    display: block; 
    margin-bottom: 5px; 
    border: 1px solid #ccc; 
}
   
.notes { 
    margin-top: -10px; 
    color: #666; 
    font-size: 12px;
}

#event-custom-container {
    margin-top: 1.5em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#event-custom-label {
    font-size: 14px !important;
}

#event-custom-input {
    display: none;
}
    
button { 
    background-color:#007bff; 
    color: #FFF; 
    border: #007bff; 
    border-radius: 16px; 
    padding: 7px 12px;
}
    
button:hover { 
    background-color: #005bbb; 
    cursor: pointer;
}
   
hr { 
    height: 1px; 
    color: #CCC;
    background: #CCC; 
    font-size: 0;
    border: 0; 
    margin-top: 20px; 
}

#topper {
    background-color: #1b396a;
    padding: 20px 0px 1px 0px;
    border-radius: 8px;
}

h1 {
    margin-top: 5px;
    color: #FFF;
}

@media (max-width: 500px ) {
    h1 {
        font-size: 27px;
    }
    #topper { 
        text-align: center;
    }
}