body {
  background-color: #fff !important;
}

.headline {
  font-family: "ArtHouseBold", sans-serif;
  font-size: 24px;
  color: #191919;
  margin-bottom: 10px;
}

.subhead {
  font-family: "ArtHouseMed", sans-serif;
  font-size: 17px;
  color: #999;
  margin-bottom: 10px;
  line-height: 1.4em;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 310;
  font-size: 17px;
  color: #191919;
}

.credits {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  line-height: 1.5em;
}

button {
  font-family: "ArtHouseMed", sans-serif;
  font-size: 17px;
}

@media (max-width: 900px) {
}

@media (max-width: 500px) {
  .headline {
    font-size: 20px;
  }
  .subhead {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  .credits {
    font-size: 12px;
  }
}
