#map { 
    height: 450px; 
}

#counter {
    width: 100vw;
    text-align: center;
    font-size: 12px;
    color: #888888;
}

#alert-desc {
    padding: 10px;
}

#prev-btn {
    color: #565656;
    width: 46vw;
    background-color: #fafafa;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.btn {
    color: #3c3c3c;
    width: 46vw;
    background-color: #ededed;
}

.btn:active,
.btn:focus,
.btn:hover {
    outline: none;
}