.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 0px; /* No space between cards */
	border-left: 1px solid #ccc; /* Border on the left edge of the grid */
  	border-top: 1px solid #ccc; /* Border on the top edge of the grid */
	min-height: 100vh;
	height: auto;
  }
  
  .accuser-card {
	border-right: 1px solid #ccc; /* Right border for each card */
  	border-bottom: 1px solid #ccc; /* Bottom border for each card */
	padding: 0;
	position: relative;
	overflow: hidden;
	/* min-height: 200px; */
  }
  
  .accuser-card img {
	width: 100%; /* Make images responsive */
	height: auto;
	display: block;
  }

  .overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5); /* Partially transparent black */
	color: white; /* Text color */
	padding: 5px; /* Adjust based on your design */
  }
  
  .overlay p {
	margin: 0; /* Remove default margin */
	padding: 0; /* Adjust if necessary */
	font-size: 14px; /* Adjust based on your design */
  }

  .more-info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: black; /* Black background */
	color: white; /* White text */
	flex-direction: column;
  	justify-content: center;
  	padding: 10px;
  	text-align: left; /* Ensure content is left-aligned */
  	overflow-y: auto; /* In case content overflows */
  }

  .more-info p {
	margin: 5px 0; /* Adjust spacing between paragraphs */
  }
  
  .location-date {
	display: flex;
	justify-content: space-between;
  }
  
  .right-aligned {
	margin-left: auto; /* Pushes the date to the right */
  }
  
  .nature {
	margin-top: 10px; /* Extra spacing before the nature of accusation */
  }