

  
  
  /* Card Styles */
  .accuser-card {
    align-items: flex-end;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: flex;
    overflow: hidden;
    padding: 0;
    position: relative;
  }
  
  /* Grid Container */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 1200px;
    margin: auto;
    border: 1px solid #ffffff;
  }
  
  /* Modal Styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
  }
  
  #modalBody {
    padding: 1rem;
  }
  
  .modal-content {
    background-color: #000;
    border: .5px solid #888;
    margin: 15% auto;
    padding: 20px;
    width: 90%;
  }
  
  /* Overlay and More Info Styles */
  .overlay,
  .more-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    color: #fff;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    align-items: start;
    display: flex;
    flex-direction: column;
  }
  
  .more-info {
    display: none;
    visibility: hidden;
    background-color: #000;
    overflow-y: auto;
    align-self: flex-end;
    text-align: left;
  }
  
  /* Image Styles */
  .accuser-card img,
  #modalBody .img-fluid {
    width: 100%;
    height: auto;
  }

  /* Fonts */
.accuser-head, .accused-head, .location-date, .more-info, .assignment, .nature, .footnote {
    font-size: 0.875rem;
}

.accuser-head, .accused-head, .location-date, .more-info, .assignment, .footnote, .nature {
    font-family: "Arthouse Owned Rounded", sans-serif;
}

body {
    background-color: #000;
    font-size: 1rem;
    color: #fff;
    font-family: Roboto, sans-serif;
}

.accuser-head, .accused-head {
    letter-spacing: 0.075em;
    font-weight: 450;
    margin-bottom: 0;
}

.overlay .accused-head {
    margin-bottom: .3em;
}

.accuser-name, .accused-name {
    font-family: 'Georgia', serif;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin-bottom: 0;
    font-size: 1.20rem;
    -webkit-font-smoothing: antialiased;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 1200px;
    border: 1px solid #ffffff;
}

/* Modals */
.modal, .more-info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.more-info {
    display: none;
    align-self: flex-end;
    overflow-y: auto;
    padding: 1rem;
    text-align: left;
}

.modal-content {
    background-color: #000;
    border: .5px solid #888;
    margin: 15% auto;
    padding: 20px;
    width: 90%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFF;
    font-weight: 100;
    opacity: .75;
}

.close:focus,
.close:hover {
    opacity: 1;
    cursor: pointer;
}

/* Arrows */
.arrows-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 100;
}

.arrow {
    cursor: pointer;
    font-size: 22px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
}

#arrowLeft {
    position: absolute;
    left: 10px;
}

#arrowRight {
    position: absolute;
    right: 10px;
}

#arrowLeft::before {
    content: '←';
}

#arrowRight::before {
    content: '→';
}

/* Read more link */
.read-more-link {
    margin-top: 10px;
    text-decoration: none;
}

.read-more-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1201px) {
    p {
        font-size: 0.8rem;
    }
}
