body {
    background-color: #0C0C0C !important;
    color: #C8C8D7 !important;
}

p {
    color: #C8C8D7 !important;
    margin-bottom: 16px;
    line-height: 17px;
    font-size: 16px;
    margin-top: 0;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
}

.caption {
    font-family: 'Georgia';
    font-weight: 400;
}

h1 {
    font-size: 24px;
    text-align: start;
    font-weight: 400;
    margin-top: -8px;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button:focus {
    outline: 0;
}

a:link {
    color: #999999;
}

a:visited {
    color: #a6a6a6;
}

a:hover,
a:active {
    color: #C8C8D7;
    text-decoration: none;
}

#tabs {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0 2em;
    padding: 0 0.5em;
    border-bottom: 2px #7C56FF solid;
}

#image-gallery {
    display: flex;
}

#col-0 {
    padding-right: 7.5px;
}

#col-1 {
    padding: 0 7.5px;
}

#col-2 {
    padding-left: 7.5px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    height: 100%;
    gap: 20px;
}

.gallery-card {
    text-align: start;
    width: 100%;
}

.card-image {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
}

.hide-content {
    opacity: 0 !important;
    transition: opacity 0.666s ease-in-out !important;
}

.remove-content {
    display: none !important;
}

.show-content {
    opacity: 1 !important;
    transition: opacity 0.666s ease-in-out !important;
}

.close-button {
    color: #fff;
    right: 15px;
    top: 12px;
    position: absolute;
    z-index: 20;
}

.close span {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.slide-banner {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 0;
    padding: 12px 12px 50px;
    width: 100%;
}

.slide-container {
    display: flex;
    flex-direction: column;
}

.w-100 {
    height: 600px !important;
    width: auto !important;
}

.modal-body {
    padding: 2px;
}

.modal-dialog {
    max-width: max-content !important;
}

.modal-content {
    border-radius: 0;
}

.tab-button {
    width: 100%;
    padding: 8px 0 12px;
    font-size: 18px;
    font-weight: 500;
    color: #9B9B9B;
    font-family: 'Arthouse Owned Mono Rounded';
    font-size: normal;
    line-height: 23px;
}

.selected-tab {
    border: 2px #7C56FF solid;
    border-bottom: 2px #0C0C0C solid;
    margin-bottom: -2px;
    z-index: 5;
    border-radius: 8px 8px 0 0;
    color: #DBDBDB;
}

.carousel-control-next,
.carousel-control-prev {
    height: 50px;
    margin: auto;
}

.controls-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100px;
    height: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-total {
    color: #595959;
}

.selected-tab .button-total {
    color: #ADAAAA;
    font-weight: 400;
}

.date {
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Arthouse Owned Rounded';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.desc {
    font-size: 14px;
}


@media screen and (max-width: 768px) {
    body {
        padding: 0 15px;
    }

    h1 {
        font-size: 16px;
    }
    
    h2 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    p {
        font-size: 12px;
    }

    #col-1 {
        padding: 0;
    }

    #tabs {
        border: none;
        justify-content: start;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
    }

    .column {
        width: 50%;
    }

    .tab-button {
        border-radius: 26px;
        background-color: #383838;
        color: #DBDBDB;
        width: auto;
        padding: 0.5em 1.5em;
        font-size: 14px;
    }

    .button-total {
        color: #757575;
    }

    .selected-tab .button-total {
        color: #DBDBDB;
    }

    .selected-tab {
        color: #ffffff;
        border: none;
        background-color: #7C56FF;
    }

    .w-100 {
        height: auto !important;
        width: 95vw !important;
    }

    .date {
        font-size: 10px;
        margin-bottom: 6px;
    }

    .desc {
        font-size: 12px;
    }

    .card-image {
        margin-bottom: 6px;
    }

    .image-card {
        margin-bottom: 0;
    }

    .controls-container {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 100%;
        transform: none;
    }

    .slide-banner {
        background-color: #0C0C0C;
        position: static;
        padding: 5px 10px 0;
        max-width: 100% !important;
    }

    .a:link {
        color: #fff !important;
    }

    .slide-container {
        max-width: 100%;
    }

    .carousel-control-next,
    .carousel-control-prev {
        height: 250px;
        margin: auto;
        color: #fff !important;
        opacity: 1 !important;
    }
}
