/* @import url('https://media.nbcnewyork.com/assets/editorial/national/common/fonts/arthouse.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Flex&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'); */

body, #mapContainer {
  height: 100%;
}

#mapContainer {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

#header {
  width: 100%;
  padding-bottom: 10px;
}

#map {
  flex-grow: 1;
}

#navigation {
  display: flex;
  flex-direction: row;
}

#navText {
 font-weight: 800;
}

.form-check {
  margin: 0 10px;
}

#navSwitches, #mapLegend {
  width: 90%;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} 

#mapLegend {
  margin-top: 20px;
  font-size: 0.875rem;
}

.legend {
  width: 30px;
  height: 1rem;
  margin: 0 2px 0 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.LPath {
  width: 30px;
  height: 5px;
  stroke-width: 4px; 
}

.LPoint {
  width: 10px;
  height: 12px;
}

.trackColor { stroke: #00ffae; }

.roadColor { stroke: #313131; }

.railColor {  
  stroke: #ffd659;
  stroke-dasharray: 3;
}

.stationColor { fill: #fcbd00; }

.bestStationExit {
  stroke: #0f0f0f;
  stroke-width: 3;
}

.radiusMarkerColor {
  fill: #fdd14c; 
}

.busColor { 
  stroke: #007ac2; 
  stroke-dasharray: 1 4;
}

.busDisruptedColor {
  stroke: #e4002b;
  stroke-dasharray: 1 4;
}

.trackStyle {
  opacity: 0.55;
  stroke-width: 6;
}

.roadStyle {
  opacity: 0.6;
  stroke-width: 4;
}

.railStyle {
  opacity: 0.8;
  stroke-width: 4;
}

.stationStyle {
  fill-opacity: 1;
  stroke: 1;
}

.busStyle {
  opacity: 0.7;
}

.leaflet-tooltip {
  min-width: 150px;
  max-width: 250px;
  white-space: wrap;
}

@media (max-width: 400px) {



}