#map { 
    height: 600px; 
    max-width: 100vw !important;
    border: 1px solid #ced4da;
}

#legend {
    display: flex;
}

#select {
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-weight: 300;
	font-size: 17px;
	color: #191919;
    font-family: 'Roboto', sans-serif;
}

#controls {
    display: flex;
    justify-content: space-between;
}

#button-box {
    display: flex;
    margin-bottom: 20px;
}

#address-input {
    width: 500px;
    margin-right: 20px;
}

#response {
    font-style: italic;
    color: #FF2400;
}

.leaflet-sidebar {
    padding: 0 !important;
}

.leaflet-control {
    border: none !important;
    border-left: 1px solid #ced4da !important;
    border-radius: 0 !important;
}

.close {
    text-decoration: none !important;
}

.location-name {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 32px;
    margin-right: 20px;
    font-weight: 400;
}

.athlete-name {
    font-weight: 500;
}

.athlete-tooltip {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.athlete-blurb {
    line-height: 18px;
    font-size: 14px;
    max-width: 225px;
    margin-bottom: 0;
}

.athlete-img {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #ced4da;
}

.marker-cluster {
    background-color: transparent !important;
}

.marker-cluster div {
    border-radius: 50% !important;
    background-color: rgba(221, 87, 70, 0.8) !important;
    border: 1px rgb(221, 87, 70) solid;
    opacity: 0.85;
}

.marker-cluster span {
    color: #ffffff;
}

.xlarge-cluster {
    height: 75px !important;
    width: 75px !important;
}

.xlarge-label {
    line-height: 75px !important;
}

.large-cluster {
    height: 65px !important;
    width: 65px !important;
}

.large-label {
    line-height: 65px !important;
}

.medium-large-cluster {
    height: 55px !important;
    width: 55px !important;
}

.medium-large-label {
    line-height: 55px !important;
}

.medium-cluster {
    height: 45px !important;
    width: 45px !important;
}

.medium-label {
    line-height: 45px !important;
}

.small-cluster {
    height: 35px !important;
    width: 35px !important;
}

.small-label {
    line-height: 35px !important;
}

.xsmall-cluster {
    height: 25px !important;
    width: 25px !important;
}

.xsmall-label {
    line-height: 25px !important;
}

.leaflet-popup-content {
    max-height: 250px;
    overflow-y: scroll;
}

.legend-item {
    margin-right: 1em;
}

.legend-icon {
    border-radius: 50%;
    opacity: 0.85;
    margin-bottom: 1.35em;
    margin-right: 0.25em;
}

.legend-label {
    font-size: 14px;
}

.cluster-label {
    background-color: transparent !important;
    color: #ffffff !important;
    border: none !important;
    box-shadow: none !important;
}

.checkbox-label {
    margin-left: 2px;
}

button {
    background-color: #4681dd !important;
    border-color: #4681dd !important;
}

@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #controls {
        flex-direction: column-reverse;
    }

    #address-input {
        width: 250px;
        margin-right: 20px;
    }

    #header,
    #map {
        max-width: 100vw !important;
    }

    #select {
        background-color: #ffffff;
    }

    .leaflet-control {
        border-left: none !important;
    }
}
