body {
    background-color: #0C0C0C !important;
}

#accusations-table {
    margin-bottom: 8px !important;
}

tr[aria-expanded=true] .fa-plus {
    display: none;
}

tr[aria-expanded=false] .fa-minus {
    display: none;
}

tr {
    background-color: #212529 !important; 
}

label,
.dt-info {
    font-size: 0.9rem;
}

.hidden-row {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.shown-row {
    background-color: #0C0C0C !important;
}

.extra-info {
    margin: 5px 0;
}

.non-sort-header {
    content: "" !important;
}

@media screen and (max-width: 768px) {
    .dt-length {
        display: none;
    }
}

