body {
    background-color: #0C0C0C !important;
}

/*table, tr, td, th {
    background-color: #0C0C0C !important;
}*/

tr[aria-expanded=true] .fa-plus {
    display: none;
}

tr[aria-expanded=false] .fa-minus {
    display: none;
}

.hidden-row {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.shown-row {
    background-color: #0C0C0C !important;
}

tr {
    background-color: #212529 !important; 
}

.extra-info {
    margin: 5px 0;
}

.non-sort-header {
    content: "" !important;
}

@media screen and (max-width: 768px) {
    .dt-length {
        display: none;
    }
}

