.container {
  border: 1px solid #CCC;
  border-radius: 10px;
}
.drop {
  border-color: #CCC;
  border-radius: 4px;
  padding: 5px;
}

.btn {
  width: 200px;
}

#ballCon {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.kicker {
  text-transform: uppercase;
  color: #999;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0px;
}

.q {
  text-align: center;
  margin-bottom: 50px;
}

.quest {
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-align: center;
}

#result {
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  padding: 20px 5px;
  background-color: #333;
}
