body,
html {
    width: 100%;
    height: 100%;
    background-color: #0C0C0C !important;
    color: #ffffff !important;
}

p {
    color: #ffffff !important;
}

.slide {
    width: 100vw;
    height: 70vh;
}

#grid-container {
    width: 100%;
    max-width: 700px;
    position: fixed;
    top: 0;
    left: 0;
}

#legend {
    max-width: 700px;
    width: 100%;
}

#caption {
   text-align: center;
}
