body,
html {
    width: 100%;
    height: 100%;
    background-color: #0C0C0C !important;
    color: #ffffff !important;
}

p {
    color: #ffffff !important;
}

.slide {
    max-width: 700px;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.caption {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    height: 100px;
    z-index: 9999;
    width: 600px;
    background-color: #0C0C0C;
}

#grid-container {
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 700px;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
}

#legend {
    max-width: 225px;
    width: 100%;
}

#crime-grid {
    display: flex;
    justify-content: center;
}

#slide-0 {
    justify-content: end;
}

@media screen and (max-width: 768px) {

    #grid-container {
        display: block;
        max-width: 600px;
    }
}