body,
html {
    width: 100%;
    height: 100%;
    background-color: #0C0C0C !important;
    color: #ffffff !important;
}

p {
    color: #ffffff !important;
}

.slide {
    width: 100vw;
    height: 70vh;
}

#grid-container {
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 700px;
    position: fixed;
}

#legend {
    max-width: 700px;
    width: 100%;
}

#caption {
   text-align: center;
}

#crime-grid {
    display: flex;
    justify-content: center;
}
