body {
  background-color: #000 !important;
  font-size: 1rem;
  color: #fff;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 700px;
}

p {
  font-family: 'Arthouse Owned Rounded';
  font-weight: 300;
}

.center {
  text-align: center;
}

.header {
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.big-h1, .small-h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
}

.big-h1 {
  font-size: 80px;
  margin-top: 2rem;
}

.small-h1 {
  font-size: 32px;
}

.subhead {
  font-family: 'Arthouse Owned Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.serif-subhead {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

.space-below {
  margin-bottom: 2rem;
}

.space-above {
  margin-top: 2.25rem;
}

/* Style for the two-column sections */
.two-up {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .6rem;
}
  
.two-up .left, .two-up .right {
  flex: 1; /* Each column takes up half the width */
  padding: 1rem;
}

/* IMAGES */

/* Define image dimensions as CSS variables */
:root {
  --image-width: 150px;
  --image-height: 190px;
}

/* Style for image containers (bishops and priests) */
.image-container {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Use CSS variables for image dimensions */
.image-container img {
  width: var(--image-width);
  height: var(--image-height);
  object-fit: cover;
  margin-bottom: 0.5rem;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}

/* Style for image wrappers */
.image-wrapper {
  display: inline-block;
  width: var(--image-width);
  height: var(--image-height);
  border-radius: 50%;
  position: relative; /* Set position to relative */
}

/* Use CSS variables for image dimensions */
.image-wrapper img {
  display: block;
  width: 100%; /* Ensure image fills wrapper */
  height: 100%; /* Ensure image fills wrapper */
  object-fit: cover;
  box-shadow: 0 0 10px #0008;
  border-radius: 50%;
}

/* Priest images */

/* Style for image containers (bishops and priests) */
.image-container-priest {
  text-align: center;
  margin-bottom: 0.75rem;
}

/* Use CSS variables for image dimensions */
.image-container-priest img {
  width: var(--image-width);
  height: var(--image-height);
  object-fit: cover;
  margin-bottom: 0.5rem;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}

#priests-list .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* This will help center the items and manage spacing */
  gap: 10px; /* This property creates a gap between flex items */
}

#priests-list .col {
  flex: 1; /* Each .col element will take up equal space */
  min-width: 160px; /* Minimum width for each column */
  padding: 0 7.5px; /* Reduced padding on the sides */
  word-wrap: break-word; /* Wrap long text */
}

/* Style for image wrappers */
.image-wrapper-priest {
  display: inline-block;
  width: 150px; /* Set a specific size */
  height: 150px; /* Ensure width and height are equal for a circle */
  border-radius: 50%;
  position: relative; /* Set position to relative */
  margin: 0; /* Remove any default margins */
}

/* Use CSS variables for image dimensions - ensure they are equal for a circle */
.image-wrapper-priest img {
  display: block;
  width: 100%; /* Ensure image fills wrapper */
  height: 100%; /* Ensure image fills wrapper */
  object-fit: cover;
  box-shadow: 0 0 10px #0008;
  border-radius: 50%;
}


/* Adjust the size of the pseudo-element to match the image wrapper */
.image-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  opacity: 0.6;
  mask: 
    linear-gradient(to bottom, black 0 0.3rem, transparent 0.8rem calc(100% - 0.8rem), black calc(100% - 0.3rem) 100%) no-repeat center / calc(100% - 0.6rem) 100%,
    linear-gradient(to right, black 0 0.3rem, transparent 0.8rem calc(100% - 0.8rem), black calc(100% - 0.3rem) 100%) no-repeat center / 100% calc(100% - 0.6rem),
    radial-gradient(at bottom right, transparent, black 0.5rem) no-repeat top left / 0.8rem 0.8rem,
    radial-gradient(at bottom left, transparent, black 0.5rem) no-repeat top right / 0.8rem 0.8rem,
    radial-gradient(at top right, transparent, black 0.5rem) no-repeat bottom left / 0.8rem 0.8rem,
    radial-gradient(at top left, transparent, black 0.5rem) no-repeat bottom right / 0.8rem 0.8rem;
  pointer-events: none;
  border-radius: 0.3rem;
}

/* Style for coats of arms */
.arms-container {
  text-align: center; /* Center align the images and text */
  margin-bottom: 1.5rem; /* Add some space below each image container */
}

.arms-container img {
  width: 100px;
  height: 120px;
  border-radius: 50%; /* Rounded corners relative to the size of the oval */
  object-fit: cover; /* Ensure the images cover the area without stretching */
  margin-bottom: 0.5rem; /* Space between image and caption */
}

/* Style for the captions under the images */
.img-caption {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
}

.img-sub-caption {
  font-size: 0.8rem;
  font-family: 'Arthouse Owned Rounded';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 0.05rem;
}

.img-sub-sub-caption {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.25rem;
}

/* CSS for the bishops, priests, and dioceses lists */
.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1; /* Each .col element will take up equal space */
  min-width: 160px; /* Minimum width for each column */
  word-wrap: break-word; /* Wrap long text */
}

.bishop-info, .priest-info, .diocese-info {
  padding: 0 15px; /* Add some padding on the sides */
}

.bishop-info h3, .priest-info h3, .diocese-info h3 {
  white-space: normal; /* Override any other white-space settings that prevent wrapping */
  hyphens: auto; /* Automatically add hyphens where appropriate */
}

.section-divider {
  height: .25px;
  background-color: #fff;
  opacity: 40%;
  width:  100%;
  margin: 20px auto;
}

#waffle-chart-container svg {
  width: 100%; /* Make SVG responsive */
  height: auto; /* Adjust height automatically */
}

/* Waffle chart legend */

.legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

text {
  font-family: 'Arthouse Owned Rounded';
  font-weight: 200;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .legend-container {
    flex-direction: column;
  }
  .legend-item {
    margin-bottom: 10px;
  }
}
