/* /////////////////////////////////////////////////////////////////// */

/* GENERAL */

body {
  background-color: #0C0C0C; /* Match NBC page */
  overflow: hidden;
  font-size: 1rem;
  color: #fff;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 700px;
}

/* /////////////////////////////////////////////////////////////////// */

/* TEXT */

p {
  font-family: 'Arthouse Owned Rounded';
  font-weight: 300;
  font-size: .9rem;
}

.center {
  text-align: center;
}

.header {
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.big-h1, .small-h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
}

.big-h1 {
  font-size: 80px;
  margin-top: 2rem;
}

.small-h1 {
  font-size: 32px;
}

.subhead {
  font-family: 'Arthouse Owned Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.serif-subhead {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.75rem;
}

.bishop-info, .priest-info, .diocese-info {
  padding: 0 15px; /* Add some padding on the sides */
}

.bishop-info h3, .priest-info h3, .diocese-info h3 {
  white-space: normal; /* Override any other white-space settings that prevent wrapping */
  hyphens: auto; /* Automatically add hyphens where appropriate */
}

/* Image captions */

.img-caption {
  margin-top: .5rem;
}

/* Common style for captions */
.img-caption, .img-sub-caption, .img-sub-sub-caption {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
}

.img-sub-caption, .img-sub-sub-caption {
  font-size: 0.8rem;
  margin: 0;
}

.img-sub-caption {
  font-family: 'Arthouse Owned Rounded';
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 450;
}

.img-sub-sub-caption {
  font-style: italic;
  margin-top: 0.25rem;
}

/* Two-column sections */

.two-up {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .6rem;
}

.two-up .left, .two-up .right {
flex: 1; /* Each column takes up half the width */
padding: 1rem;
}

/* /////////////////////////////////////////////////////////////////// */

/* Spacers */

.space-below {
  margin-bottom: 2rem;
}

.space-above {
  margin-top: 2.25rem;
}

/* Section divider line */

.section-divider {
  height: .25px;
  background-color: #fff;
  opacity: 40%;
  width: 100%;
  margin: 20px auto;
}

/* /////////////////////////////////////////////////////////////////// */

/* WAFFLE CHART */

#waffle-chart-container svg {
  width: 100%; /* Make SVG responsive */
  height: auto; /* Adjust height automatically */
}

/* Waffle chart legend */

#legend-container {
  display: flex;
  flex-wrap: wrap; /* Wrap onto the next line if there's not enough space */
  justify-content: space-evenly;
  align-items: center; /* Align items vertically in the center */
  margin-top: 1rem;
}

.legend-item text {
  font-size: .85rem;
  font-family: 'Arthouse Owned Rounded';
}

/* Coats of arms */

.arms-container {
  text-align: center; /* Center align the images and text */
  margin-bottom: 1.5rem; /* Add some space below each image container */
}

.arms-container img {
  width: 100px;
  height: 120px;
  border-radius: 50%; /* Rounded corners relative to the size of the oval */
  object-fit: cover; /* Ensure the images cover the area without stretching */
  margin-bottom: 0.5rem; /* Space between image and caption */
}

/* /////////////////////////////////////////////////////////////////// */

/* PRIESTS AND BISHOPS SECTIONS */

/* Rows and columns */

/* CSS for the bishops, priests, and dioceses lists */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Align items to top */
}

/* Base styles for .col */
.col {
  flex-grow: 0; /* Do not allow the columns to grow */
  flex-shrink: 1; /* Allow the columns to shrink if necessary */
  flex-basis: 20%; /* Start with 5 columns */
  max-width: 20%; /* Match flex-basis to start */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* IMAGES */

/* Define the --image-size variable */
:root {
  --image-size: 120px; /* Adjust the size as needed */
  --image-size-small: 60px; /* Smaller image size for small screens */
}

/* Adjust image and container sizes */
.image-wrapper, .image-container img {
  width: 100%; /* Set width relative to the parent container */
  height: auto; /* Maintain the aspect ratio of the images */
}

/* Common style for image containers */
.image-container {
  text-align: center;
  margin-bottom: 1.5rem;
  display: inline-block;
}

/* Common style for image */
.image-container img {
  object-fit: cover;
  margin-bottom: 0.5rem;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}

/* Common style for image wrapper images */
.image-wrapper {
  display: inline-block;
  width: var(--image-size); /* Use the variable for size */
  height: var(--image-size); /* Ensure a 1:1 aspect ratio */
  border-radius: 50%; /* Ensure the wrapper is circular */
  overflow: hidden; /* Ensure that anything outside the circle is clipped */
  position: relative;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the area of the wrapper */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image within the wrapper */
}

/* /////////////////////////////////////////////////////////////////// */

/* MEDIA QUERIES */

/* Media query for medium screens, adjust to 4 columns */
@media screen and (max-width: 768px) {
  .col {
    flex-basis: 25%; /* 4 columns in medium screens */
    max-width: 25%;
    margin: .125rem 0;
  }

  /* Adjust image size if necessary */
  .image-wrapper {
    width: var(--image-size-small); /* Adjust image size for medium screens */
    height: var(--image-size-small); /* Keep it the same as width for a circle */
  }

  /* Adjust font sizes for captions as needed */
  .img-sub-caption, .img-sub-sub-caption {
    font-size: 0.7rem; /* Smaller font size for captions on small screens */
  }
}

/* Media query for small screens, adjust to 3 columns */
@media screen and (max-width: 480px) {
  .row {
    flex-wrap: wrap; /* Wrap columns to a new line */
  }
  
  .col {
    flex-basis: 25%; /* 3 columns per row in small screens */
    max-width: 25%;
    margin: .5rem;
  }

  .image-container {
    margin: .025rem;
  }

  .image-wrapper {
    width: 25vw; /* Adjust image size for small screens */
    height: 25vw; /* Maintain aspect ratio for circle shape */
  }

  /* Adjust font sizes for captions as needed */
  .img-sub-caption, .img-sub-sub-caption {
    font-size: 0.7rem; /* Smaller font size for captions on small screens */
  }

}

/* /////////////////////////////////////////////////////////////////// */