body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

/* Drop down menu */
.column-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.column:first-child {
    margin-right: 20px;
}

.column label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #222222;
    display: block;
    margin-bottom: 8px;
}

.column select {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #222222;
    border: 0.5px solid #BEBEBE;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.08));
}

/* Content */
.card {
    display: flex;
    width: 800px;
    height: 450px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card .content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Image */
.card img {
    width: 270px !important;
    object-fit: cover;
}

/* Top Section */
.card .top-section {
    display: flex;
    height: 110px;
    flex-direction: row;
}

/* Ranking number */
.rank {
    font-size: 70px;
    font-weight: 300;
    text-align: right;
    line-height: 170px;
    margin-right: 8px;
    margin-bottom: 10px;
    width: 90px;
    height: 110px;
    background-color: #ECECEC;
    font-weight: 100;
}

/* Details */
.details {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-top: auto;
}

.name-first {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.name-last {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;
    padding-top: 0px;
}

.team-position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-variant: all-small-caps;
}

/* Info */
.card .info {
    padding: 15px;
}

.card .info.active {
    display: flex;
    flex-direction: column;
}

/* Apply styles to the fan rating bar */
.card .info .additional-info .fan-rating-bar {
    height: 8px;
    background-color: #ECECEC;
    margin-bottom: 6px;
    border-radius: 5px;
    overflow: hidden;
}

/* Add this style for accordion icon */
.card .info .blurb-section .accordion-icon {
    cursor: pointer;
    font-size: 20px;
    margin-left: 4px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.card .info .additional-info .fan-rating-bar .progress {
    height: 100%;
    width: 0;
    background-color: rgba(33, 109, 255, 0.75);
    border-radius: 5px;
    transition: width 0.5s ease;
}

.blurb {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    flex: 1;
    /* overflow: hidden; */
}

/* Link */
.link {
    margin-top: auto;
}

.card .info.active .link {
    display: block;
}

a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #7F7F7F;
}

a:hover {
    text-decoration: underline;
}

/* Additional Info */
.additional-info {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

@media only screen and (min-width: 651px) {
    /* Hide mobile-styled dropdown and buttons on desktop */
    #sort-dropdown-mobile,
    #filter-buttons-container {
        display: none;
    }

    #sort-dropdown-mobile,
    #filter-buttons-container {
        display: none;
    }

    /* Hide accordion icon on desktop */
    .card .info .blurb-section .accordion-icon {
        display: none;
    }
}

/* Mobile styles */
@media only screen and (max-width: 650px) {
    /* Hide desktop controls on mobile */
    #controls {
        display: none;
    }
    
    /* Hide other columns in mobile view */
    .column:not(#sort-dropdown):not(#sort-dropdown-mobile) {
        display: none;
    }

    /* Display the details in a column on mobile */
    .card {
        display: block;
        width: 100%;
        height: auto; /* Adjust the height as needed */
        margin-bottom: 20px;
    }

    .card .info .blurb-section .link {
        display: none;
    }

    /* Styles for rank, first name, and last name */
    .card .top-section {
        flex-direction: row;
        align-items: center;
        justify-content: space-between; /* Add this line to push first and last name to the sides */
        margin-bottom: 10px;
    }

    /* Reset styles for content */
    .card .content {
        align-items: flex-start;
        flex-direction: column;
    }

    .rank {
        font-size: 50px; /* Adjust font size as needed */
        line-height: 184px; /* Adjust line height as needed */
        margin-bottom: 4px;
    }

    .card .info {
        padding: 0px;
    }

    /* Image styles for mobile */
    .card img {
        width: 100% !important;
        height: auto;
        object-fit: cover;
        max-height: 200px; /* Adjust the max-height as needed */
    }

    /* Hide the fan rating bar on mobile */
    .card .info .additional-info .fan-rating-bar {
        display: none;
    }

    /* Hide the blurb by default */
    .blurb-section .blurb {
        display: none;
    }
    
    /* Show the blurb when the accordion is open */
    .card .blurb-section.active .link {
        display: block;
    }
    
    /* Add accordion icon style */
    .card .info .accordion-icon {
        cursor: pointer;
        font-size: 20px; /* Adjust the font size as needed */
        margin-left: 4px; /* Adjust the margin */
        transition: transform 0.2s ease; /* Add transition effect */
    }

    /* Position the accordion icon on the same line as team/role */
    .card .info .team-position {
        display: flex;
        align-items: center;
    }

    .card .info.active .accordion-icon {
        transform: rotate(180deg); /* Rotate the icon when the accordion is open */
    }

    /* Add margin to filter buttons container on mobile */
    #filter-buttons-container {
        margin-bottom: 20px;
    }

    /* Style for unselected buttons */
    button,
    #filter-buttons-container button {
        /* Added styles for mobile sort dropdown */
        background: #F4F5F6;
        border: 1px solid #7F7F7F;
        border-radius: 20px; /* Increase border radius */
        color: #7F7F7F;
        align-items: center;
        cursor: pointer;
        margin-right: 4px;
        margin-bottom: 8px;
        padding: 8px 10px;
        box-sizing: border-box;
    }

    /* Text styles for buttons */
    button span,
    #filter-buttons-container button span {
        letter-spacing: 0.001em;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px; /* Increase font size */
        line-height: 18px; /* Increase line height */
        text-align: center;
    }

    /* Styles for selected buttons */
    button.selected,
    #filter-buttons-container button.selected {
        /* Updated to target the correct ID */
        background: #216DFF;
        border: 1px solid #216DFF;
        color: #FFFFFF;
    }

    /* Make the sort drop-down take full width */
    #sort-dropdown-mobile {
        width: 100%;
        margin-bottom: 10px;
    }

    .link {
        margin: 0;
    }
}
