body {
	background-color: #FFF !important;
	font-size: 1rem; /* 16 px */
    font-family: 'Roboto', sans-serif;
}

/* Drop down menu */

.column-container {
    display: flex; /* Display columns side by side */
    justify-content: space-between; /* Justify */
}

.column {
    flex: 1; /* Make each column take up equal space */
    margin-right: 20px; /* Adjust the value for spacing between columns */
}

/* Apply styles to the first column */
.column:first-child {
    margin-right: 20px;
}

/* Apply styles to "Sort by" and "Filter by team" */
.column label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #222222;
    display: block; /* Make the label a block element to move it to a new line */
    margin-bottom: 8px;
}

/* Apply styles to input */
.column select {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #222222;
    border: 1px solid #222222;
    padding: 8px;
    width: 100%; /* Make the select fill the entire width of the column */
    box-sizing: border-box;
    margin-bottom: 12px;
}

/* Content */

.card {
    display: flex;
    width: 800px;
    height: 450px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card .content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Image */
.card img {
    width: 270px !important;
    /* height: 390px !important; */
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
}

/* Top Section */
.card .top-section {
    display: flex;
    height: 110px;
    flex-direction: row;
}

/* Ranking number */
.rank {
    font-size: 70px;
    font-weight: 300;
    text-align: right;
    line-height: 170px;
    margin-right: 8px; /* Adjust the margin to reduce space */
    margin-bottom: 10px;
    width: 90px;
    height: 110px;
    background-color: #ECECEC;
    font-weight: 100;
}

/* Details */
.details {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-top: auto; /* Align to the bottom */
}

.name-first {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.name-last {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;
    padding-top: 0px;
}

.team-position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-variant: all-small-caps;
}

/* Info */
.card .info {
    padding: 15px;
}

.blurb {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    flex: 1;
    overflow: hidden;
}

/* Link */
.link {
    margin-top: auto; /* Push to the bottom */
    padding-left: 15px;
}

a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #7F7F7F;
}

a:hover {
    text-decoration: underline;
}

/* Additional Info */
.additional-info {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}