body {
    background-color: #FFF !important;
    font-size: 1rem;
    overflow-x: hidden;
}

/* Commons styles for fonts */
.font-common {
    font-family: 'Roboto', sans-serif;
}

/* Header styles */
.custom-header {
    font-family: 'Arthouse Owned Mono Rounded';
    font-weight: 600;
    font-size: 1.15rem;
    color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
}

/* Shared styles for text */
.font-common, .name, .type {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
}

/* Candidate name */
.event-card .name {
    margin: 14px;
    margin-bottom: 0;
    font-weight: 550;
    letter-spacing: 0.001em;
    line-height: 1.5; /* Adjust the line height value as needed */
}

/* Event type */
.type {
    font-size: 1rem;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #818181;
}

/* Day headings */
.day-container h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 20px 0 10px;
}

/* Style for the time */
.time {
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    padding: 1rem;
}
/* Style for time text */
.time-text, .am-pm {
    font-family: 'Arthouse Owned Mono Rounded';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.0025em;
    margin: 0;
}

/* Style for the hour */
.time-text {
    font-size: 1rem;
    color: #292b2c;
    margin: 0;
}

/* Style for AM/PM */
.am-pm {
    font-size: 1rem;
    line-height: 1.125rem;
    color: #949494;
}

/* Style for the center section */
.info {
    flex: 2;
    padding: 1rem;
    margin: 0.625rem 0 0;
    border-left: 0.015625rem solid #BEBEBE;
}

/* Address styles */
.address {
    font-family: 'Arthouse Owned';
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.0025em;
    line-height: 1.5;
}

/* Description */
.description {
    font-family: 'Arthouse Owned';
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.0025em;
    margin: 0.625rem 0;
}

.event-card {
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: .25px solid #BEBEBE;
    background-color: #b0b0b01a;
    box-shadow: 0px 4px 4px #00000005;
    margin: 10px 0;
    position: relative; /* Allow absolutely positioned elements (like plus icon) to be positioned relative to the card */
}

.event-card .sub-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.event-card .address {
    margin: 0;
}

.event-card .description {
    margin-top: 10px;
}

/* Image container div */
.image-container {
    margin-right: 3.5rem; /* Allow for overlap of circular images */
    display: flex; /* Allow images to sit side x side */
    justify-content: flex-end; /* Align last image to the right */
    align-items: center;
}

/* Basic style for the images */
img.img-fluid {
    max-height: 100px; /* Control height while maintaining aspect ratio */
    max-width: 100px; /* Set maximum width to prevent images from exceeding their container */
    border-radius: 50%; /* Create circular border */
    margin-right: -2.25rem; /* Allow overlap */
}

/* Visual class images */
img.img-fluid.visible {
    max-height: 100px; /* Control height while maintaining aspect ratio */
    max-width: 100px; /* Set maximum width to prevent images from exceeding their container */
    border-radius: 50%; /* Create circular border */
    margin-right: -2.25rem; /* Allow overlap */
}

/* Add specific border colors for each party */
img.img-fluid[party='R'] {
    border: 0.125rem solid #CC0000;
}
img.img-fluid[party='D'] {
    border: 0.125rem solid #3366CC;
}
img.img-fluid[party='I'] {
    border: 0.125rem solid #666699;
}

/* Style for plus icon */
.plus-icon {
    width: 30px; /* Keep size proportionate */
    height: 30px; /* Keep size proportionate */
    display: flex; /* Center text */
    align-items: center; /* Center text */
    justify-content: center; /* Center text */
    background-color: #D9D9D9; /* Color bg */
    border: 2px solid #FFFFFF; /* Color stroke */
    border-radius: 50%; /* Round border */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    font-weight: 600; /* Bold font */
    font-size: 12pt;
    color: #474747;
    z-index: 1;
}

/* Style past events */
.past-event {
    opacity: 0.60;
}  

/* //////////// VIEWPORT STYLES //////////// */

/* Common styles for both mobile and desktop */
#content {
    margin: 0.625rem;
}

/* Desktop styles */
@media (min-width: 501px) {
    #content {
        margin-right: 3.75rem;
        margin-left: 3.75rem;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
    }
}

/* Mobile styles */
@media (max-width: 500px) {
    #content {
        margin: 0.625rem;
    }

    .headline {
        font-size: 20px;
    }

    .subhead {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    .credits {
        font-size: 12px;
    }
}